body {
  background-color: #e6f1f1;
}

.App-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: #BA; */
}

.App-image {
  width: 375px;
  height: 180px;
  margin-top: 21px;
}

@media only screen and (max-width: 770px) {
  .App-container {
    margin: 0 10%;
  }

  .App-image {
    width: 100%;
    margin-top: 10px;
  }
}
